<!DOCTYPE html>
<html ng-app="twilioTest">
   <head> 
      <title>Web Ka Project</title>

      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
      <script src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>

      <script>
         var twilioTestApp = angular.module('twilioTest', []);

         twilioTestApp.controller('twilioTestCtrl', function ($scope, $http) {
            
            $http.get('/twilio/token').success(function (token) {
               Twilio.Device.setup(token); 
            }); 

            $scope.call = function () {
               Twilio.Device.connect({ 
                  CallerId:'+14088004196', 
                  PhoneNumber:'+918872039507' 
               });
            }

            $scope.hangUp = function () {
               Twilio.Device.disconnectAll(); 
            }
         });
      </script>
   </head> 

   <body ng-controller="twilioTestCtrl"> 

      <div class="well"> 
      	<center>
         <button type="button" class="btn btn-success btn-lg" ng-click="call()">Call</button> <!-- Calls call(). -->
         <button type="button" class="btn btn-danger btn-lg" ng-click="hangUp()">Hang Up</button> <!-- Calls hangUp(). -->
         </center>
      </div> 

   </body> 
</html> 